<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
      cupiditate in laborum odio! Odio consectetur, dolorem a voluptates nemo
      aut.
    </p>
  </div>
</div>

<!-- rgb icon -->
<div class="media">
  <div class="media__image">
    <svg class="icon icon--rgb">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
      cupiditate in laborum odio! Odio consectetur, dolorem a voluptates nemo
      aut.
    </p>
  </div>
</div>
